.top{
    height: 90px;
    width: 60%;
    background-color: peru;
    margin-left: 23%;
    padding-top: 5%;
    font-size: 50px;
    font-weight: 650;
    font-family: Verdana;
    text-decoration:underline;
}
.bottom{
    height: 90px;
    width: 60%;
    background-color: peru;
    margin-left: 23%;
    margin-top: 20%;
    padding-left: 30%;
}